.header-container {
  display: flex;
}

.menu-list {
  display: flex;
}

.header-title {
  display: flex;
  align-items: center;
}

.header-connect {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header-logo {
  margin-right: 93px;
}

.menu-item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.connect-item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.header {
  background-color: var(--hero-color);
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-web {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo-studio {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-title-color);
}

.menu-list .menu-link.current {
  color: var(--accent-color);
}

.menu-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu-link.current::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 4px;
  border-radius: 2px;
  bottom: -32px;
  display: block;
  background: var(--accent-color);
}

.header-mail {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.icon-header {
  margin-right: 10px;
  fill: currentColor;
  vertical-align: middle;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-tel {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
